* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --container-width: 1050px;
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 46px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #00ACAA;
}

.section-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-buttons .instructor-next {
  border-radius: 20px;
  border: none;
}
.section-buttons .instructor-prev {
  border-radius: 15px;
  border: none;
}
.section-buttons img {
  width: 25px;
  height: auto;
  filter: invert(30%);
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 70px;
  padding: 10px;
  background-color: var(--bg-color);
}

.btn-orange {
  padding: 10px;
  border-radius: 3px;
  background-color: #F58634;
  color: white !important;
  border: none;
}

.btn-orange:hover {
  background-color: #ffab00;
  transition: 0.3s;
}

.header-item-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 0 10px 0 10px;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.nav-links a {
  font-family: Poppins;
  text-decoration: none;
  font-size: 14px;
  color: black;
}

.nav-icon {
  width: 26px;
  height: 24px;
}

.burger {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 26px;
  height: 24px;
}
.burger div {
  background-color: #757589;
  height: 3px;
}

.burger div:nth-child(2) {
  width: 80%;
}

main {
  min-height: calc(100vh - 70px);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding-top: 50px;
}

.slogan-wrapper {
  margin-top: 160px;
  max-width: 550px;
}

.slogan-header span {
  font-size: 55px;
  color: #252B42;
}

.slogan-subtitle {
  padding: 15px 0 15px 0;
}
.slogan-subtitle p {
  font-size: 20px;
  color: #252B42;
}

.input-container {
  display: flex;
  align-items: center;
  width: 490px;
  height: 60px;
  border-radius: 5px;
  padding-right: 10px;
  box-shadow: 0 1px 15px 4px rgba(34, 60, 80, 0.33);
}
.input-container button {
  width: 108px;
  height: 50px;
}

.form-search-container {
  width: 490px;
  margin-top: 65px;
}

.search {
  width: 100%;
  padding: 14px;
}

input {
  outline: none;
  border: none;
}

.main-banner {
  position: absolute;
  top: 100px;
  right: 200px;
  z-index: -1;
}

.blue-vector {
  position: absolute;
  z-index: -2;
  left: 0;
  top: 501px;
}
.blue-vector img {
  width: 549px;
  height: 555px;
}

.categories-container {
  display: flex;
  justify-content: center;
}
.categories-container .categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 1050px;
}
.categories-container .categories a:hover {
  width: 170px;
  height: 175px;
  transition: 0.5s;
}
.categories-container .categories a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  height: 165px;
  background-color: #FFFFFF;
  border-radius: 16px;
  border: 1px solid #EBEBEB;
  text-decoration: none;
  transition: 0.5s;
}
.categories-container .categories a p {
  font-size: 16px;
  font-family: Poppins;
  color: #252B42;
  font-style: normal;
  text-align: center;
}

.info-container {
  display: flex;
  padding-top: 124px;
  justify-content: space-between;
}
.info-container .image-container div {
  position: relative;
}
.info-container .image-container .second-image {
  top: -90px;
  left: 150px;
  z-index: 1;
}
.info-container .orange-vector {
  position: absolute;
  z-index: -2;
  right: 0;
}
.info-container .orange-vector img {
  width: 179px;
  height: 583px;
}

.content-container {
  width: 525px;
}
.content-container .content-subtitle {
  font-family: Poppins;
  font-size: 16px;
  color: #00ACAA;
}
.content-container .content-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 46px;
  letter-spacing: 0.2px;
  color: #252B42;
  padding-top: 10px;
}
.content-container .content-description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #757589;
  padding-top: 17px;
}
.content-container .content-table {
  display: flex;
  flex-wrap: wrap;
  padding-top: 29px;
  justify-content: space-between;
  gap: 25px;
}
.content-container .content-table .table-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 230px;
  height: 81px;
  background: #FFFFFF;
  border: 1px solid #ECECEC;
  border-radius: 10px;
}
.content-container .content-table .table-item .item-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #000000;
}
.content-container .content-table .table-item .item-subheader {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #757589;
}
.content-container .btn-orange {
  margin-top: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.slider-controls {
  gap: 10px;
  padding: 5px;
  justify-content: flex-end;
}
.slider-controls .btn-orange {
  width: 100px;
}
.slider-controls .btn-orange:disabled {
  background-color: #757589;
}

.slider-previous {
  width: 25px;
  height: 25px;
  border-radius: 20px;
  border: none;
}

.slider-next {
  width: 25px;
  height: auto;
  border-radius: 20px;
  border: none;
}

.slider-container {
  overflow: hidden;
}
.slider-container .slider-track {
  display: flex;
  transition: 0.6s;
}
.slider-container .slider-track .slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px 0 5px;
  height: 420px;
  background-color: #FFFFFF;
  border: 1px solid #ECECEC;
  border-radius: 10px;
}
.slider-container .slider-track .slider-item .card-subtitle {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
}
.slider-container .slider-track .slider-item .card-subtitle .subtitle-category {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #757589;
}
.slider-container .slider-track .slider-item .card-subtitle .subtitle-price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.2px;
  color: #F58634;
}
.slider-container .slider-track .slider-item .card-title {
  padding-top: 12px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #000000;
}
.slider-container .slider-track .slider-item .card-author-container {
  display: flex;
  width: 100%;
  padding-left: 20px;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}
.slider-container .slider-track .slider-item .card-author-container .author-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.slider-container .slider-track .slider-item .about-card-container {
  display: flex;
  padding-top: 30px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.slider-container .slider-track .slider-item .about-card-container div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.slider-container .slider-track .slider-item .about-card-container div p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #757589;
}
.slider-container .slider-track .slider-item .card-image-container {
  width: 100%;
}
.slider-container .slider-track .slider-item .card-image-container img {
  border-radius: 10px;
  width: 100%;
}

.section-name {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: self-end;
}

.image-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 0.8fr;
  gap: 50px;
  overflow: unset;
}

.image-card {
  position: relative;
  width: 100%;
  transition: 0.5s;
}
.image-card img {
  width: 100%;
  border-radius: 10px;
}
.image-card p {
  transition: 0.5s;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  position: absolute;
  width: 100%;
  padding: 20px;
  text-align: center;
  top: 70%;
  border-radius: 10px;
  background: linear-gradient(1deg, rgb(12, 12, 12), rgba(0, 0, 0, 0) 90%);
}

.image-card:hover {
  transition: 0.5s;
  width: 103%;
}

.instructor-container {
  overflow: hidden;
}
.instructor-container .instructor-track {
  display: flex;
  gap: 10px;
  transition: 0.5s;
  justify-content: space-between;
}
.instructor-container .instructor {
  position: relative;
}
.instructor-container .instructor p {
  position: absolute;
  width: 100%;
  top: 77%;
  padding-top: 60px;
  text-align: center;
  color: #FFFFFF;
  font-family: Poppins;
  font-weight: bold;
  background: linear-gradient(1deg, rgb(12, 12, 12), rgba(0, 0, 0, 0) 90%);
}
.instructor-container .instructor img {
  width: 100%;
}

.section-buttons .btn-orange:disabled {
  background-color: #757589;
}

.reviews-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.reviews-container .review {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: space-evenly;
  width: 510px;
  height: 196px;
  background-color: #f8f8f8;
  border-radius: 10px;
}
.reviews-container .review-author {
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviews-container .author-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.reviews-container .review-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
}

/*# sourceMappingURL=style.css.map */
