* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --container-width: 1050px;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}

//Header styles
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-height: 70px;
  padding: 10px;
  background-color: var(--bg-color);
  //margin-bottom: 50px;
  //border: 2px solid blue;
}

//Btn styles
.btn-orange {
  padding: 10px;
  border-radius: 3px;
  background-color: #F58634;
  color: white !important;
  border: none;
}

//Link Style
.header-item-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 0 10px 0 10px;
}

//Navigation styles
.nav-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  a {
    font-family: Poppins;
    text-decoration: none;
    font-size: 14px;
    color: black;
  }
}

.nav-icon {
  width: 26px;
  height: 24px;
}

//Burger
.burger {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 26px;
  height: 24px;

  div {
    background-color: #757589;
    height: 3px;
  }

}

.burger div:nth-child(2) {
  width: 80%;
}

main {
  min-height: calc(100vh - 70px);
}

//Main
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  //border: 2px solid #00ff03;
  padding-top: 50px;
}

.slogan-wrapper {
  margin-top: 160px;
  max-width: 550px;
}

.slogan-header {
  span {
    font-size: 55px;
    color: #252B42;
  }
}

.slogan-subtitle {
  padding: 15px 0 15px 0;

  p {
    font-size: 20px;
    color: #252B42;
  }
}

.input-container {
  display: flex;
  align-items: center;
  width: 490px;
  height: 60px;
  border-radius: 5px;
  padding-right: 10px;
  //border: 1px solid #757589;
  box-shadow: 0 1px 15px 4px rgba(34, 60, 80, 0.33);

  button {
    width: 108px;
    height: 50px;
  }
}

.form-search-container {
  width: 490px;
  margin-top: 65px;
  //border: 2px solid red;
}

.search {
  width: 100%;
  padding: 14px;
  //border: 2px solid #0a3dff;
}

input {
  outline: none;
  border: none;
}

//Main banner
.main-banner {
  position: absolute;
  top: 100px;
  right: 200px;
  z-index: -1;
}

.blue-vector {
  position: absolute;
  z-index: -2;
  left: 0;
  top: 501px;

  img {
    width: 549px;
    height: 555px;
  }
}

.categories-container {
  display: flex;
  justify-content: center;
  //border: 2px solid red;

  .categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //border: 2px solid aqua;
    min-width: 1050px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      width: 150px;
      height: 165px;
      background-color: #FFFFFF;
      border-radius: 16px;
      border: 1px solid #EBEBEB;
      text-decoration: none;

      p {
        font-size: 16px;
        font-family: Poppins;
        color: #252B42;
        font-style: normal;
        text-align: center;
      }
    }
  }
}

.info-container {
  display: flex;
  padding-top: 124px;
  justify-content: space-between;

  .image-container {
    div {
      position: relative;
    }

    .second-image {
      top: -90px;
      left: 150px;
      z-index: 1;
    }
  }

  .orange-vector {
    position: absolute;
    z-index: -2;
    right: 0;
    //right: -100px;

    img {
      width: 179px;
      height: 583px;
    }
  }
}


.content-container {
  width: calc(1050px / 2);


  .content-subtitle {
    font-family: Poppins;
    font-size: 16px;
    color: #00ACAA;
  }

  .content-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 46px;
    letter-spacing: 0.2px;
    color: #252B42;
    padding-top: 10px;
  }

  .content-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #757589;

    padding-top: 17px;
  }

  .content-table {
    display: flex;
    flex-wrap: wrap;
    padding-top: 29px;
    justify-content: space-between;
    gap: 25px;

    .table-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 230px;
      height: 81px;
      background: #FFFFFF;
      border: 1px solid #ECECEC;
      border-radius: 10px;

      .item-header {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #000000;
      }

      .item-subheader {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #757589;
      }
    }

  }

  .btn-orange {
    margin-top: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
  }
}

//Slider styles
.slider-controls{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
  justify-content: flex-end;
  //border: 2px solid crimson;

  .btn-orange{
    width: 100px;
  }
  .btn-orange:disabled{
    background-color: #757589;
  }
}
.slider-container {
  //width: ;
  overflow: hidden;
  //background-color: pink;

  .slider-track {
    display: flex;
    //background-color: #00ACAA;
    transition: .6s;

    .slider-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      //padding: 20px;
      margin: 0 5px 0 5px;
      //min-width: calc(var(--container-width) / 3 - 10px);
      height: 420px;
      //border: 2px solid crimson;
      background-color: #FFFFFF;
      border: 1px solid #ECECEC;
      border-radius: 10px;

      .card-subtitle {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;

        .subtitle-category {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.2px;
          color: #757589;
        }

        .subtitle-price {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          text-align: right;
          letter-spacing: 0.2px;
          color: #F58634;
        }

      }

      .card-title {
        padding-top: 12px;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #000000;
      }

      .card-author-container {
        display: flex;
        width: 100%;
        padding-left: 20px;
        gap: 10px;
        flex-direction: row;
        align-items: center;
        padding-top: 20px;
        //border: 2px solid red;

        .author-name {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.2px;
          color: #252B42;
        }
      }
      .about-card-container{
        display: flex;
        padding-top: 30px;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        //border: 2px solid red;
        div{
          display: flex;
          flex-direction: row;
          gap: 10px;
        }
      }

      .card-image-container {
        width: 100%;

        img {
          border-radius: 10px;
          width: 100%;
        }
      }
    }
  }
}

//@media screen and (max-width: 1450px) {
//  .main-banner {
//    position: relative;
//  }
//}
